.container {
  text-align: center; /* 全体を中央揃えに　*/
  max-width: 600px; /* 最大幅を600pxに　*/
  margin: 30px auto; /* 上下に30pxの余白をつけ、中央揃えに */
}

#timer {
  font-size: 36px; /* 文字サイズを36pxに */
  border: 1px solid #ccc; /* グレーの枠線を引く */
  margin: 30px auto; /* 上下に30pxの余白をつけ、中央揃えに */
  padding: 50px; /* 要素内余白を50pxに */
  background-color: #000; /* 背景色を黒に */
  color: #fff; /* 　文字を白に */
  border-radius: 3px; /* 枠線を各マルに*/
  box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* ドロップシャドーをつける */
}

.btn {
  width: 100%; /* 幅を100％に */
}